.sidebar-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sidebar-icon-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:active {
    cursor: pointer;
  }
}