.tasks-status-wrapper {
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  box-sizing: border-box;
  max-width: 100%;
  overflow-y: hidden;

  .tasks-status-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;

    h1 {
      font-size: 18px;
      font-weight: bold;
      margin: 0;
    }

    svg {
      width: 30px;
      height: 30px;
      flex-shrink: 0;
    }
  }

  .tasks-status-container.no-paragraph {
    .tasks-status-chart.expanded {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 250px;
    }
  }
}
