.dashboard-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(208, 15%, 78%);
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    height: 70px;

    .dashboard-title {
        font-size: 1.8rem;
        font-weight: bold;
        color: #333;

        .dashboard-title-color {
            color: #306bff;
        }
    }

    .dashboard-search {
        display: flex;
        align-items: center;
        gap: 1rem;

        .dashboard-search-input {
            padding: 0.5rem 1rem;
            border: 1px solid #ccc;
            border-radius: 8px;
            font-size: 0.95rem;
            width: 220px;

            &:focus{
                outline: none;
                border-color: #888;
            }
        }
        .icon-button {
            background: none;
            border: none;
            cursor: pointer;
            padding: 0.4rem;
            border-radius: 6px;
            transition: background 0.2s ease;

            &:hover {
                background-color: #e9ecef;
            }
            svg {
                color: #333;
            }
        }

    }
}